---
import ContactForm from '../Contact/ContactForm.astro';
---

 <!-- Llamado a Contacto -->
  <section class="section bg-primary">
    <div class="container">
      <div class="max-w-prose mx-auto">
        <ContactForm 
          title="Solicita tu diagnóstico sin costo"
          subtitle="Nuestros expertos técnicos analizarán tu proceso actual y te propondrán la mejor solución integral para optimizar tu planta."
          variant="default"
        />
      </div>
    </div>
  </section>
